outputs-cpu/eWave.2D.00000.ssh
outputs-cpu/
outputs-sycl/
TEMP_FILES/
intermediate/
test-gpu-out/
outputs-gpu/
test-cpu-out/
outputs-cuda/

# Binaries and build artifacts
*.obj
*.exe
*.lib
*.exp
build/
build_/

# Installer files
GPU_DRIVER/

# Wave outputs in workspace root
*.ssh
*.sshmax
*.time
*.idx

# Log files
*.log

# Large Datasets
easyWave-master-data/
